<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
  <div class="container">

    <a style="font-size: large;" class="" href="#page-top" [routerLink]="['/']">
      <img style="margin-top: 0px;" height="50px" src="./assets/img/titlered.png" />
    </a>
    <button *ngIf="atualizado" aria-label="Toggle navigation"
      class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button"
      data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive">

      <i class="fa fa-bars"></i>
    </button>
    <div *ngIf="atualizado" class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li *ngIf="user" class="nav-item mx-0 mx-lg-1">
          <a style="color:white" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">Olá,
            {{getShortName(user?.fullname)}}</a>
        </li>
        <li data-toggle="collapse" data-target="#navbarResponsive" class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" routerLink="/mapas">quero ajudar</a>
        </li>
        <!--<li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" [routerLink]="['/']"
            fragment="services">Conteúdos</a>
        </li>-->

        <li *ngIf="user && user.icAdmin" class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" routerLink="/upload">upload</a>
        </li>
        <li data-toggle="collapse" data-target="#navbarResponsive" *ngIf="!user" class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" routerLink="/auth/login">acesse</a>
        </li>
        <li data-toggle="collapse" data-target="#navbarResponsive" class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" [routerLink]="['/']"
            fragment="portfolio">principal</a>
        </li>

        <li *ngIf="user" class="nav-item mx-0 mx-lg-1">
          <a href class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" (click)="logout()">sair</a>
        </li>
        <hr />
        <li class="mx-0 mx-lg-1">
          <b style="color: white;" class="pull-right"> VERSÃO: {{versao}}</b>
        </li>
      </ul>
    </div>
  </div>
</nav>
