<main id="login">

  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active" *ngIf="isLogin"> Entrar </h2>
      <h2 class="active" *ngIf="!isLogin"> Registrar </h2>

      <h2 class="inactive underlineHover"> </h2>

      <div id="formlogin" *ngIf="isLogin">
        <!-- Icon -->

        <!-- Login Form -->
        <input type="email" [(ngModel)]="email" id="login" class="fadeIn second" name="login" placeholder="Email">
        <input type="password" [(ngModel)]="password" id="password" class="fadeIn third" name="login"
          placeholder="Senha">
        <div (click)="login()">
          <input *ngIf="!carregando" class="fadeIn fourth botaoEntrar" style="cursor:pointer; color: white !important;"
            value="Acessar" readonly>
        </div>
        <div *ngIf="carregando" class="row justify-content-center"><button class="btn-get-started"><i
              class="fa fa-spinner fa-pulse"></i></button>
        </div>
      </div>


      <div id="formlogin" *ngIf="!isLogin">


        <!-- Login Form -->
        <div>
          <input type="text" [(ngModel)]="register.fullname" id="1" class="fadeIn second" name="Nome ou Apelido"
            placeholder="Nome Completo">
          <input type="email" [(ngModel)]="register.email" id="2" class="fadeIn second" name="Email"
            placeholder="Email">
          <input type="email" [(ngModel)]="register.email2" id="3" class="fadeIn second" name="Repita Email"
            placeholder="Repita o Email">
          <input type="tel" [(ngModel)]="register.cellphone" mask="(00) 00000-0000" id="6" class="fadeIn third"
            name="word" placeholder="Celular">
          <div class="optional">
            <span>Dados Opcionais</span>
            <input type="text" [(ngModel)]="register.profissao" id="6" class="fadeIn third" name="word"
              placeholder="Profissão">
            <input type="text" [(ngModel)]="register.facebook" id="6" class="fadeIn third" name="word"
              placeholder="Facebook">
            <input type="text" [(ngModel)]="register.instagram" id="6" class="fadeIn third" name="word"
              placeholder="@instagram">
          </div>
          <input type="password" [(ngModel)]="register.password" id="5" class="fadeIn third" name="pass"
            placeholder="Senha">
          <input type="password" [(ngModel)]="register.password2" id="6" class="fadeIn third" name="word"
            placeholder="Repita Senha">
          <div class="form-check">

            <div *ngIf="carregando" class="row justify-content-center"><button class="btn-get-started"><i
                  class="fa fa-spinner fa-pulse"></i></button>
            </div>
            <label class="form-check-label" for="termo">
              <input *ngIf="!carregando" class="form-check-input" type="checkbox" name="id" id="termo" [value]="true"
                [(ngModel)]="register.icAcceptTerms">
              Li e concordo com o <a (click)="openRules()"><u>politica de privacidade e termo de uso</u></a>
            </label>
          </div>
          <hr>
          <div (click)="registrar()">
            <input *ngIf="!carregando" class="fadeIn fourth botaoEntrar "
              style="cursor:pointer; color: white !important;" value="Registrar" readonly>
          </div>
          <div *ngIf="carregando" class="row justify-content-center"><button class="btn-get-started"><i
                class="fa fa-spinner fa-pulse"></i></button>
          </div>

        </div>
      </div>




      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a *ngIf="!isLogin" style="cursor: pointer; color: white;" class="underlineHover"
          (click)="isLogin = true">Logar</a>

        <a *ngIf="isLogin" style="cursor: pointer;color: white;" class="underlineHover" (click)="isLogin = false">Criar
          Conta</a><br>
        <!--<a *ngIf="isLogin" style="cursor: pointer" class="underlineHover">Esqueceu a Senha?</a>-->
      </div>


    </div>
  </div>

</main>
