<div class="container">
  <div class="row justify-content-between">
    <div class="section-header" mat-dialog-title>
      <b>Politica de privacidade e termo de uso</b>
      <i class="fa fa-times pull-right" (click)="close()"></i>
    </div>

  </div>
  <div class="row justify-content-center" mat-dialog-content>

    <h2><strong>Política de Privacidade</strong></h2>


    <p>(Atualização em 22 de Março de 2020)</p>

    Neste espaço descreveremos as práticas do SOS Covid no Brasil, em relação a dados
    coletados por meio do nosso website e também por meio do aplicativo para
    dispositivos móveis. Na nossa Política de Privacidade é que explicamos quais dados de
    Usuários coletamos e qual o tratamento dado a estes dados. Lembre-se que o uso do Site
    está condicionado aos Termos e Condições de Uso e do qual esta Política de
    Privacidade é parte integrante.
    <br /><br />

    <ol>
      <li>
        Política de Privacidade<br>
        Nossa Política de Privacidade é aplicada aos dados fornecidos pelo usuário e coletados
        quando é criada uma conta. Em qualquer caso, o SOS Covid cumpre com toda
        legislação aplicável à proteção de dados de onde operamos. Usar o site implica sua
        compreensão, aceitação e vinculação a esta Política de Privacidade e aos termos de uso
        de cada serviço acessado ou utilizado. Se você não concordar com quaisquer condições
        previstas aqui, poderá deixar de utilizar o Site.
      </li>
      <li>
        Consentimento do Usuário<br>
        Ao utilizar o SOS Covid você consente com a coleta, armazenamento e uso das
        informações pessoais fornecidas e suas atualizações, dados de tráfego, endereços IP,
        entre outros. você aceita que o SOS Covid envie notificações e e-mails sobre as
        doações solicitadas e realizadas. O SOS Covid pode reter seus dados pessoais pelo
        período que entender necessário, respeitadas as restrições legais. Caso não concorde, é
        preciso que você se manifeste expressamente em contato com o SOS Covid.
        Você consente que o uso do SOS Covid mesmo sem cadastro, implica na aceitação
        aos Termos de Uso dos Sites e a esta Política de Privacidade, que será atualizada de
        tempos em tempos para refletir mudanças da lei ou nas nossas ferramentas. Estas
        alterações entrarão em vigor imediatamente após inserirmos o novo termo no Site,
        portanto cabe a você verificar as condições vigentes no momento do uso do Site.
        <ol>
          <li>
            1. Isenção de Responsabilidade. Você declara desde já estar ciente que o SOS
            Covid não assume nenhuma responsabilidade em caso de roubo, perda, alteração ou
            uso indevido de suas informações pessoais e dos conteúdos disponibilizados no Site e
            aplicativo.
          </li>
          <li>
            2.  Seu perfil no mapa. Os pedidos de ajuda contam com um perfil simplificado do
            usuário que o criou. Ao pedir ajuda, você declara estar ciente que, juntamente às
            informações do(s) produto(s) solicitados, serão divulgadas algumas informações do seu
            perfil, como seu nome, telefone, e-mail, profissão e contas do Facebook e Instagram.
          </li>
        </ol>
      </li>
      <li>
        Informações coletadas, recebidas e armazenadas<br>
        As seguintes informações são coletadas, recebidas e armazenadas pelo SOS Covid:
        <br>
        a) Informações da conta. Quando você cria uma conta, o SOS Covid pode solicitar
        algumas informações, tais como endereço de e-mail, senha, telefone, profissão e contas
        do Facebook e Instagram;<br>
        b) Solicitação de doações. O SOS Covid pode armazenar Suas informações pessoal
        e de contato.<br>
        c) Site e dados de dispositivos móveis. O SOS Covid pode receber e registrar
        informações em nossos servidores de seu navegador ou dispositivo, no site., incluindo o
        Identificador de Publicidade do Android, do iOS ou de outros sistemas operacionais
        análogos, bem como dados de localização recebidos a partir dos sensores do dispositivo.
        Cumprindo os requisitos de transparência, detalhamos abaixo os dados do seu
        dispositivo que podem ser coletados se você se utiliza de um dos nossos apps:<br>
        1. (i) Dados dos sensores do aparelho;<br>
        2. (ii) Dados anônimos de localização do aparelho por meio de GPS ou rede
        celular.
      </li>
      <li>
        Endereços IP, cookies e identificadores<br>
        Seu endereço IP e outros dados relativos à sua conexão poderão ser utilizados para
        personalizar o serviço e ajudar a compreender como os usuários utilizam o Site. O SOS
        Covid pode coletar informações que poderão ser utilizadas nos Sites por meio de
        tecnologias como tags, cookies, pixels, armazenamento local, e ferramenta para coleta
        de informações a respeito de ligações telefônicas originadas dos links do Site,
        independentemente de cadastro do usuário. Os cookies são usados, entre outras coisas,
        para tornar o uso do site mais amigável, para que, por exemplo, você não tenha que
        repetir processos de login quando visitar-nos novamente. O SOS Covid usa tanto
        cookies persistentes quanto cookies de sessão. Enquanto cookies persistentes continuam
        no seu computador por um período mais longo de tempo, cookies de sessão são
        automaticamente deletados quando a janela do seu navegador for fechada.
      </li>
      <li>
         Uso da Informação<br>
        <ol>
          <li>
            1. Finalidade. As informações são coletadas pelo SOS Covid conforme previsto
            nesta Política de Privacidade com o objetivo de prestar o serviço de forma adequada.
            Estas informações são fundamentais para:<br>
            a) Criar e gerenciar contas de Usuários;<br>
            b) Customizar experiências;<br>
            c) Acompanhar a atividade geral e individual do Usuário, tais como buscas por
            produtos, doações, e para gerenciar tráfego nos Sites;<br>
            d) Fazer valer os Termos de Uso o SOS Covid, incluindo o combate à fraude e a
            quaisquer ilícitos.
          </li>
          <li>
            2.  Utilização. O SOS Covid pode utilizar ou divulgar seus dados pessoais,
            conforme especificado no item 4 em caso de: i) exigência legal; ii) prevenção contra
            fraude e abuso na sua rede; iii) investigar suspeitas de violação da lei; iv) para fazer
            cumprir os Termos de Uso e esta Política; v) responder a alegações de suposta violação
            de direitos de terceiros e de divulgação indevida de informações para contato de
            terceiros, e; vi) para proteger direitos, a propriedade ou a segurança do SOS Covid e
            de seus Usuários; vii) melhorar os Serviços e proteger a privacidade e as Informações
            Pessoais do Usuário; viii) determinar se você está obedecendo ou não a esta Política e
            aos Termos de Uso aplicáveis. 
          </li>
        </ol>
      </li>
      <li>
        Compartilhamento de Informação
        <ol>

          <li>
            1. Hipóteses de Compartilhamento de Informações. O SOS Covid não
            compartilha, aluga ou vende dados dos Usuários ou informações pessoais com partes
            não afiliadas, a menos que tenhamos autorização específica dos nossos Usuários para
            fazê-lo ou nas circunstâncias abaixo:<br>
            a) caso o SOS Covid, seja reorganizada e sejam transferidos todos ou
            substancialmente todos os ativos a um novo proprietário, sua informação pessoal pode
            ser transferida ao comprador independentemente de sua autorização para garantir a
            continuidade dos serviços;<br>
            b) compartilhamento dos dados informados por um Usuário doador em um pedido de
            ajuda com o Usuário receptor, para a finalidade de promover a interação entre as
            partes;<br>
            c) compartilhamento de informação com autoridades públicas ou entidades privadas
            para combate à fraude e abuso na rede do SOS Covid, investigação de suspeitas de
            violação da lei, ou combater qualquer outra suspeita de descumprimento dos nossos
            Termos de Uso ou da lei;<br>
            d) compartilhamento de informações pessoais com autoridades governamentais quando
            requerido de acordo com a lei aplicável.
          </li>

        </ol>
      </li>
      <li>
        Controle do Usuário
        <ol>

          <li>
            1. Acesso, correção e exclusão. É possível corrigir ou excluir qualquer informação
            fornecida ao criar uma conta, acessando o menu &quot;Minha Conta&quot; no Site. O e-mail
            informado não pode ser alterado, sendo permitido cadastrar apenas um e-mail para cada
            conta.
          </li>
          <li>
            2. Cookies. É possível desabilitar os cookies do seu navegador, mas é importante que
            você saiba que, se o fizer, poderá haver uma piora na funcionalidade de algumas
            ferramentas.
          </li>
        </ol>
      </li>
      <li>
         Responsabilidades do Usuário
        <ol>

          <li>
            1. Informações nos Pedidos. Qualquer informação que os Usuários compartilharem
            nos Pedidos é de sua própria responsabilidade. Os Usuários devem considerar com
            cautela os riscos de deixar certas informações - especialmente informações pessoais, tais
            como endereço preciso - publicamente disponíveis em um pedido.
          </li>
          <li>
            2. Informações Publicadas. Qualquer informação que Usuários disponibilizarem em
            perfis publicamente disponíveis é de Sua própria responsabilidade. Você deve
            cuidadosamente considerar os riscos de fazer certas declarações ou publicar
            informações pessoais. Um Usuário pode copiar/fotografar suas informações e circular
            entre outros Usuários ou fora dos Sites. O SOS Covid não tem responsabilidade por
            mensagens ou atos de terceiros que ocorram em decorrência da informação que você
            tornou publicamente disponível a terceiro ou que você compartilhou com qualquer
            pessoa ou com outro Usuário.
          </li>
        </ol>
      </li>
    </ol>

    <p>Termos e Condições Gerais de Uso do SOS Covid</p>
    (Atualização em 22 de março de 2020)
    <br>
    É muito importante para nós que os usuários do SOS Covid conheçam os Termos e
    Condições Gerais de Uso (T&amp;C), pois trazemos informações necessárias para que
    usuários do site, sejam doadores ou receptores, tenham uma boa experiência ao utilizar
    a plataforma. Usar o Site implica na compreensão, aceitação e vinculação automática a
    este T&amp;C. Se você não concordar com quaisquer condições previstas neste T&amp;C, poderá
    deixar de utilizar o Site.
    <br>
    <br>
    1. Como Funciona o Site
    <br>
    O SOS Covid possibilita o cadastro dos receptores juntamente com as suas
    necessidades para serem supridas de forma voluntária e anônima dos Doadores. Os
    Doadores poderão doar alimentos, doação de sangue ou produtos de higiene conforme a
    necessidade dos Receptores. A forma de entrega e recebimento das doações ficará sob
    responsabilidade dos envolvidos. As informações do cadastro dos Receptores somente
    serão divulgadas caso o Doador queira fazer a Doação. O SOS Covid oferece filtros
    para busca de produtos solicitados para doação e por localização no mapa.
    O SOS Covid não presta serviços de consultoria ou intermediação, e nem é
    proprietário dos produtos solicitados nos pedidos. Qualquer doação ou recebimento se
    dá entre os usuários, sem envolvimento do SOS Covid. Se algo der errado em sua
    transação, qualquer indenização deverá ser reclamada com o outro usuário com quem
    você acordou.<br>
    A responsabilidade do SOS Covid fica então restrita à disponibilização do espaço e
    das ferramentas que buscamos sempre aprimorar para permitir um ambiente de ajuda
    saudável e favorável. Sendo assim, a responsabilidade pela realização de pedido, sobre
    os produtos e a realização e sucesso da doação caberá sempre e exclusivamente aos
    usuários
    <br><br>
    2. Aplicabilidade deste T&amp;C

    <br>

    Este T&amp;C é exclusivo para a utilização que você fizer da plataforma SOS Covid, de
    seu website e aplicativo (que neste T&amp;C chamamos de “Site”) e será atualizado de
    tempos em tempos para refletir mudanças da lei ou nas nossas ferramentas. Estas
    alterações entrarão em vigor imediatamente após inserirmos o novo T&amp;C no Site,
    portanto cabe a você verificar as condições vigentes no momento do uso do Site.
    <br><br>
    3. Vedações de Uso

    <br>

    Você não deve inserir, transmitir, difundir ou disponibilizar a terceiros por meio do Site
    qualquer tipo de material ou informação que sejam contrários à legislação vigente, à
    moral, à ordem pública, a este T&amp;C e às políticas do SOS Covid. Dentre outros, não
    é permitido (i) &quot;spam&quot;, &quot;e-mail de correntes&quot;, &quot;marketing piramidal&quot; e publicidade
    fora
    das áreas concebidas para tal uso; (ii) conteúdo falso, ambíguo, inexato, ou que possam
    induzir a erro eventuais receptores de referida informação; (iii) conteúdo que implique
    em violação ao sigilo das comunicações e à privacidade; (iv) senhas de acesso às
    distintas utilidades e/ou conteúdo do Site que sejam de titularidade de outros usuários.
    <br><br>
    4. Sua Conta

    <br>

    Sua conta é um cadastro único para uso do Site e obrigatória para inserir pedidos. A
    utilização do site é restrita a pessoas maiores de 18 anos idade completos.

    <br><br>

    4.1. Criando a conta

    <br>

    Ao criar uma conta no Site, você declara que todas as
    informações fornecidas são verdadeiras e assume a responsabilidade de mantê-las
    atualizadas. Para proteção de sua conta, sua senha deve ser mantida em sigilo e não
    deve ser compartilhada, pois as atividades realizadas no Site com o uso de sua conta
    serão sempre de sua responsabilidade.

    <br><br>

    4.2. Dados de Contato

    <br>

    As Informações da Conta servem para contato de potenciais
    doadores. Os e-mails enviados para seu endereço cadastrado serão considerados como
    entregues a você.

    <br><br>

    4.3. Suspensão e Exclusão da Conta

    <br>

    Use sua conta com consciência, pois tanto ela
    como seus pedidos poderão ser suspensos ou excluídos pelo SOS Covid e você
    poderá ser inabilitado, sem aviso prévio, em caso de falsidade nas Informações da Conta, mau uso, violação da
    legislação, da moral, da ordem pública e T&amp;C que sejam
    aplicáveis, bem como utilização do Site para atividades ilícitas ou imorais ou qualquer
    atividades que, a critério do SOS Covid, não esteja de acordo com suas políticas
    internas. Esta análise do SOS Covid não acarreta compromisso, garantia, obrigação
    ou responsabilidade quanto à veracidade das informações e conteúdo inseridos pelos
    usuários. 

    <br><br>

    5. Pedindo ajuda

    <br><br>

    5.1 Antes de pedir ajuda

    <br>
    Antes de fazer o seu pedido de ajuda, confira s regras que
    devem ser observadas por você.<br>
    As regras abaixo foram criadas para ajudá-lo no pedido de ajudar de boa qualidade e
    com relevância para doadores. <br>
     Pedidos de ajuda<br>
     São feitos por pessoas físicas, sem intermédio de empresas. Todos os itens
    solicitados deverão ser de uso pessoal, não tendo sido adquiridos ou produzidos
    com o objetivo principal de (re)venda;<br>
     A cada iniciativa do doador de ajudar, será computada as quantidades de vezes
    que o usuário será ajudado;<br>
     O receptor poderá manifestar o recebimento da doação, tornando o pedido
    inativo;<br>
     Os pedidos que forem selecionados pelos doadores, terão 5 dias de validade nas
    buscas, se tornando inativos;<br><br>

    Conta de usuário<br>
     O usuário poderá criar apenas uma conta para uso no SOS Covid. <br>
     Será permitido indicar apenas um telefone, e-mail, uma conta Facebook e
    Instagram para a criação de um receptor no SOS Covid;<br>
     O SOS Covid poderá, a seu critério, efetuar a verificação dos números de
    telefone e/ou endereços de e-mail indicados. Ao cadastrar esses dados, a
    <br><br>
    legitimidade e titularidade de tais informações está sob responsabilidade do
    usuário, estando ciente ainda que o SOS Covid poderá excluir os pedidos e
    contas, ainda que as demais sejam do mesmo titular ou seja verificada a
    falsidade e/ou invalidade das informações fornecidas.<br>
     Não é permitida a utilização de nomes e/ou nicknames que contenham números
    de telefones, links, endereços, e-mails.
    Multiplicidade de pedidos<br>
     A quantidade de pedidos é limitada a um por vez;
    Não é permitido:<br>
    I. Solicitar mais de um pedido ativo;
    II. Criar perfis falsos com nome, e-mail, profissão e contas do Facebook e
    Instagram;
    III. Utilizar quaisquer dispositivos automatizados ou programas de computador
    que permitam a solicitação de pedidos de ajuda no Site sem que cada um
    deles seja inserido manualmente pelo Usuário.
    <br><br>
    Conteúdo do pedido<br>
     O pedido deve conter os produtos necessários dentro de uma categoria e uma
    breve descrição sobre a necessidade;<br>
     Não são permitidos pedidos que:<br>
    I. Contenham palavras de busca que não estejam diretamente relacionadas ao
    produto solicitado,
    II. Contenham links, sites, nomes de empresas e/ou de pessoas ou caracteres
    desnecessários,
    III. Possam ser percebidos como ofensivos e/ou discriminatórias a indivíduos,
    grupos étnicos, religiosos, figuras públicas, etc.<br>
     Permitimos apenas pedidos no idioma Português.
    Categorias
    <br>
     Os produtos de um pedido devem ser inseridos na categoria que melhor
    descrevem os mesmos;<br>
     As categorias disponibilizadas para serem cadastradas os produtos são:
    Alimentos, Doação de sangue e produtos de higiene;<br>
     Produtos inseridos na categoria incorreta poderão ser removidos da plataforma, a
    critério do SOS Covid.<br><br>
    Produtos permitidos<br>
    Somente poderão ser solicitados no SOS Covid pedidos de produtos permitidos
    pelos Termos de Uso e pela lei vigente. Os receptores são responsáveis pelos produtos
    solicitados e devem certificar-se da autenticidade e legalidade de seus pedidos. O SOS
    Covid poderá cancelar pedidos que infrinjam os Termos de Uso de sua plataforma
    ou a Lei Vigente.<br>
    Localização do item/serviço
     O pedido deve estar no Brasil e na região em que foi publicado o mesmo.
    <br><br>

    5.2 O que não pode estar no seu pedido

    <br>

    Lembramos do seu compromisso com a
    licitude, exatidão das informações e reprodução fidedigna da sua necessidade. É
    proibido fazer pedidos com conteúdo potencialmente ofensivo, obsceno, pornográfico,
    que promova o terrorismo, qualquer espécie de discriminação, ou que atente a quaisquer
    direitos individuais ou coletivos de terceiros. Você também não deverá inserir,
    transmitir, difundir ou colocar à disposição de terceiros, qualquer conteúdo que
    constitua publicidade ilícita ou desleal; que possa provocar danos aos sistemas
    informáticos do provedor de acesso, que infrinja direitos de propriedade intelectual e/ou
    industrial de terceiros.
    <br><br>

    5.3  O que pode ser Solicitado

    <br>

    Somente poderão ser solicitados no Site produtos
    permitidos por este T&amp;C e respectivas regras aplicáveis, assim como pela lei vigente.
    Você deverá obrigatoriamente ter a necessidade dos produtos e disponibilidade para
    resgatá-los. Você deverá informar, de forma clara e completa, condições de recebimento
    e eventuais restrições geográficas.
    <br><br>

    5.4  Responsabilidade

    <br>

    Cabe exclusivamente a Você a responsabilidade pelo pedido,
    pelas informações veiculadas, pelas características e condições do produto solicitado,
    pela sua conduta como usuário, pelo recebimento dos produtos.
    <br><br>

    5.5 Prazo do Pedido

    <br>

    O seu pedido ficará disponível por um período indeterminado. O
    prazo de vencimento de 5 dias começa a valer quando um doador seleciona o seu
    pedido.
    <br><br>

    5.6 Gratuidade

    <br>

    O pedido de ajuda será gratuito. O SOS Covid não cobra comissão
    sobre as transações eventualmente concretizadas entre doadores e receptores no Site.
    <br><br>

    6 Disponibilidade do Site

    <br>

    O SOS Covid não garante a disponibilidade, acesso e continuidade do
    funcionamento do SITE ou de suas funcionalidades, atuais ou futuras, não sendo
    responsável por nenhum dano ou prejuízo causado a você em caso de
    indisponibilidade. 
    <br><br>

    7 Propriedade Intelectual

    <br>

    Sendo um Site de doação, não é responsável por infrações aos direitos de propriedade
    intelectual, direitos de imagem ou à honra dos Usuários em decorrência dos conteúdos
    postados pelos usuários, mas removerá qualquer pedido que viole direitos desta
    natureza.
    <br><br>

    8 Alterações nas Ferramentas e Funcionalidades

    <br>

    O SOS Covid está sempre trabalhando para aprimorar as ferramentas e
    funcionalidades do Site, que por isso poderão ser alteradas, suspensas e descontinuadas
    sem aviso prévio.
    <br><br>

  </div>
</div>
