<div id="wrapper">
  <div id="over_map">

    <section class="text-center" style="position: relative;margin-top: 75px;z-index: 1;">
      <div class="card" style="width: 16rem;">
        <div class="card-header" style="cursor: pointer;" (click)="exibirCategorias()">
          Posso ajudar? <i #categoriaSeta class="fa fa-chevron-down pull-right"></i>
        </div>
        <div id="categoriaSelect" style="max-height: 200px; overflow-y: auto;">


          <ul [ngClass]="{'show-options': isCategoriaAberta, 'hide-options': !isCategoriaAberta}"
            *ngFor="let preCategoria of preCategorias" class="dontShow list-group list-group-flush">

            <li id="{{preCategoria.id}}" [ngClass]="{'success':preCategoriaSelecionada == preCategoria.id}"
              style="cursor: pointer;" (click)="getPointsByPreCategoria(preCategoria.id)"
              class="list-group-item text-left">
              <img *ngIf="preCategoria.icon" style="margin-right: 10px;" [src]="getIconCategoria(preCategoria.id)"
                width="30px" height="30px" />{{ preCategoria.name }}
              <span *ngIf="carregando" class="pull-right"><i style='text-align: center;'
                  class="fa fa-spinner fa-spin"></i></span>

              <div *ngIf="preCategoria.id == preCategoriaSelecionada">
                <ul *ngFor="let categoria of categorias" class="dontShow list-group list-group-flush">
                  <li id="{{categoria.produto}}" [ngClass]="{'success-produto':produtoSelecionado == categoria._id}"
                    style="cursor: pointer;" (click)="mudarCategoria(categoria._id)" class="list-group-item text-left">
                    <img *ngIf="preCategoria.icon" style="margin-right: 10px;" [src]="getIconCategoria(preCategoria.id)"
                      width="30px" height="30px" />{{ categoria.produto }}
                    <span *ngIf="carregando" class="pull-right"><i style='text-align: center;'
                        class="fa fa-spinner fa-spin"></i></span>
                  </li>

                </ul>
              </div>


            </li>

          </ul>

        </div>
      </div>

      <div class="card" style="width: 16rem;">
        <div class="card-header" style="cursor: pointer; background-color: red; color: white;" (click)="modalSOS()">
          S.O.S Pedir Ajuda <i #categoriaSeta class="fa fa-exclamation-triangle  pull-right"></i>
        </div>
      </div>

    </section>
  </div>
  <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng" [styles]="styles" [streetViewControl]="false"
    [clickableIcons]="false" [showDefaultInfoWindow]="false" [zoomControl]="false">

    <agm-marker *ngFor="let point of points" [iconUrl]="getIconCategoria(preCategoriaSelecionada)"
      (markerClick)="selectMarker(point)"
      [latitude]="point.help.location ? point.help.location.coordinates[1] : point.help[0].location.coordinates[1]"
      [longitude]="point.help.location ? point.help.location.coordinates[0] : point.help[0].location.coordinates[0]">
    </agm-marker>

  </agm-map>
</div>

<ng-template #callHelp>
  <div class="modal-upload">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Preciso de Ajuda!</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body modal-color">
      <div class="mt-2" *ngFor="let necessidade of necessidades; let i = index;">

        Suprimentos
        <div class="">
          <select class="form-control mt-3" [(ngModel)]="necessidade.categoria">
            <option disabled="true" selected>Selecione a Categoria</option>
            <option *ngFor="let preCategoria of preCategorias" [ngValue]="preCategoria.id">{{preCategoria.name}}
            </option>
          </select>

          <input type="text" name="nome_{{i}}" class="form-control mt-3" id="abc613" placeholder="O que está faltando?"
            [(ngModel)]="necessidade.produto" />
        </div>
        <button type="button" class="btn btn-danger" *ngIf="i > 0" style="border: solid 1px;"
          (click)="removeHelpForm(i)">Remover</button>

      </div>
      <button type="button" class="btn btn-success mt-2" *ngIf="necessidades.length < 3" (click)="addHelpForm()">+
        Suprimentos</button>
      <textarea [(ngModel)]="help.obs" placeholder="Conte mais sobre sua necessidade" class="form-control mt-2"
        id="exampleFormControlTextarea1" rows="3"></textarea>

      <div class="justify-content-center">
        <button class="btn btn-primary mt-2" (click)="insertCallHelp()">Pedir Ajuda</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #modalTemplate>
  <div class="modal-header">
    <div class="pull-left">
      <h4 class="modal-title">Somar forças
        <img src="./assets/img/somarForças.png" height="40px" class="animated pulse infinite">
      </h4>
      <!--<b>Categoria:</b> {{getNameCategoria(produtoSelecionado)}}-->
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">


    <ngb-carousel *ngIf="!isAdmin" [showNavigationArrows]="false" [wrap]="false" [activeId]="'slideTwo'" interval="0">
      <ng-template ngbSlide>
        <mat-card class="mt-5 mt-sm-0 card">
          <!-- Titulo -->
          <mat-card-header>
            <mat-card-title>
              <h1 *ngIf="isUserHelp">Ajude a {{ userContent.fullname }}</h1>
              <h1 *ngIf="!isUserHelp">Ajude a {{ userContent.fullname | slice:0:3}}...</h1>
            </mat-card-title>
          </mat-card-header>

          <!-- Conteudo -->
          <mat-card-content>
            <div class="row">

              <div *ngIf="isUserHelp">
                <div *ngIf="userContent.facebook" class="col-12">

                  Facebook: {{userContent.facebook}}

                </div>
                <div *ngIf="userContent.instagram" class="col-12">

                  Instagram: {{userContent.instagram}}

                </div>

                <div class="col-12">

                  celular: {{userContent.cellphone}}

                </div>
              </div>

              <!-- Informações -->
              <div class="col-lg-5">
                Motivação: {{ userContent.help[0].obs }}
              </div>

              <!-- fim infs -->

              <div class="col-sm-12">
                <h4 class="mt-3 mt-sm-0">Produtos de necessidade</h4>

                <ul *ngFor="let necessidade of necessidades; let i = index;">
                  <li>{{ necessidade.produto }}</li>
                </ul>

              </div>
              <hr>

              <div *ngIf="!isUserHelp">
                <p>Preservando a privacidade do usuário, para conceder ajuda e obter informações de quem está precisando
                  você precisa clicar no botão de confirmar ajuda.</p>
                <div class="text-center">
                  <button class="btn btn-primary mt-2" (click)="confirmHelp()">Confirmar ajuda</button>
                </div>

              </div>


            </div>
          </mat-card-content>


        </mat-card>
      </ng-template>
    </ngb-carousel>


  </div>
</ng-template>
